@import "tailwindcss";

@theme {
    --color-primary: #ffd27d;
    --color-dark: #121416;
    --color-dark-charcoal: #1f2226;
    --color-deep-slate: #2c2f34;
    --color-graphite-gray: #393d42;
    --color-steel-shadow: #464a51;
    --color-ash-gray: #545860;
    --color-clouded-silver: #626770;
    --color-soft-smoke: #707581;
    --color-pale-pewter: #7e8492;
    --color-cool-mist: #8d92a3;
    --color-frosted-silver: #9ba1b4;
    --color-light: #e4e8ed;
}

body {
    color: var(--color-light);
    background-color: var(--color-dark);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 5px;

}