@import "tailwindcss";

@theme {
    --color-primary: rgba(255, 210, 125, 1);
    --color-background-900: rgba(18, 20, 22, 1);
    --color-background-100: rgba(31, 33, 37, 1);

    --color-customGray-100: rgb(247, 250, 252);
    --color-customGray-200: rgb(237, 242, 247);
    --color-customGray-300: rgb(226, 232, 240);
    --color-customGray-400: rgb(203, 213, 224);
    --color-customGray-500: rgb(160, 174, 192);
    --color-customGray-600: rgb(113, 128, 150);
    --color-customGray-700: rgb(74, 85, 104);
    --color-customGray-800: rgb(45, 55, 72);
    --color-customGray-900: rgb(26, 32, 44);
}

body {
    color: var(--color-white);
    background-color: var(--color-background-900);
}